.grid-stack {
  min-height: 100%;
  background-color: var(--background_secondary);
  overflow-x: hidden;

  & > .grid-stack-item {
    .grid-stack-item-content {
      position: relative;
      border: 2px solid var(--background_secondary);
      transition: 0.3s;
      background-color: var(--background_main);
      
      &:active,
      &:hover {
        border-color: var(--button_primary);
      }
    }
    
    .gridstack-panel-header {
      display: none;
      justify-content: flex-end;
      align-items: center;
      padding: 8px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      width: 100%;
      height: 44px;
    }
    
    .fix-panel-button,
    .close-panel-button {
      cursor: pointer;
      
      &,
      &:hover,
      &:active {
        background: none;
        border: 0;
        box-shadow: none;
        padding: 0;
      }
    }
    
    .close-panel-button {
      color: var(--danger);
    }
    
    .fix-panel-button {
      color: var(--button_primary);
    }
    
    .gridstack-content-container {
      height: 100%;
    }
  
    .DragPanelIcon {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
      color: var(--button_primary);
    }
  
    & > .ui-resizable-handle {
      z-index: 9 !important;
      
      &.ui-resizable {
        &-se,
        &-sw,
        &-nw,
        &-ne {
          background: none;
          width: 10px;
          height: 10px;
          border: 3px solid var(--text_secondary);
          border-bottom: none;
          border-right: none;
        }
    
        &-se {
          right: 6px;
          bottom: 6px;
          transform: rotate(180deg);
        }

        &-sw {
          bottom: 6px;
          left: 6px;
          transform: rotate(-90deg);
        }

        &-nw {
          top: 6px;
          left: 6px;
        }

        &-ne {
          display: none;
        }
      }
    }
  
    &.ui-draggable-disabled {
      .DragPanelIcon {
        filter: grayscale(1);
      }
    }

    &.ui-resizable-autohide {
      & > .ui-resizable-handle:not(.ui-resizable-ne) {
        display: block !important;
      }
    }
  
    &.grid-stack-item_editing {
      .grid-stack-item-content {
        border-style: solid;
        border-color: var(--button_primary);
        user-select: none;
        cursor: grab;
      }
  
      .gridstack-panel-header {
        display: flex;
      }
  
      .gridstack-content-container {
        overflow-y: hidden;
        overflow-x: hidden;
        
        &:before {
          --temp_aero_32: rgba(98, 144, 195, .32);

          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 8;
          background-color: var(--aero_32, var(--temp_aero_32));
        }
      }
  
      .DragPanelIcon {
        display: inline-block;
      }
    }
  }
}
