.TabsSwitcher {
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: var(--background_main);
  font-family: "Proxima Nova";

  .TabsList {
    display: flex;
    align-items: center;
  }
}
