<div class="grid-stack-item-content">
  <div class="gridstack-panel-header">
    <button
      class="fix-panel-button"
      type="button"
      title="Зафиксировать панель"
    >
      <span class="FontIcon name_location size_lg"></span>
    </button>
    <button
      class="close-panel-button"
      type="button"
      title="Удалить панель"
    >
      <span class="FontIcon name_closeBig size_lg"></span>
    </button>
  </div>
  <div class="gridstack-content-container handle-drag-of-panel">
    <div class="VisualizationContainer-js"></div>
    <span class="DragPanelIcon">
      <span class="FontIcon name_move size_2xl"></span>
    </span>
  </div>
</div>