<span class="TabName TabName-js"></span>
<input type="text" class="InputField InputField-js" readonly>

<button class="BtnIcon type_edit type_edit-js" type="button" title="Редактировать название вкладки">
  <span class="FontIcon name_edit"></span>
</button>
<button class="BtnIcon type_check type_check-js" type="button" title="Сохранить название вкладки">
  <span class="FontIcon name_checkBig"></span>
</button>
<button class="BtnIcon type_delete type_delete-js" type="button" title="Удалить вкладку">
  <span class="FontIcon name_closeBig"></span>
</button>